footer.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 25px;
    background-color: whitesmoke;
    box-shadow: var(--shadow);
    height: 50px;
    margin-top: 440px
}
